DEFAULT crude
LABEL crude
  MENU LABEL Boot Crude OS (Default)
  KERNEL /boot/vmlinuz
  INITRD /boot/initramfs
  APPEND modules=ext4 root=live:/live/crude_os.sfs quiet
LABEL text
  MENU LABEL Boot Crude OS (Text Mode)
  KERNEL /boot/vmlinuz
  INITRD /boot/initramfs
  APPEND modules=ext4 root=live:/live/crude_os.sfs quiet nomodeset
