set timeout=10
set default=0

menuentry "Boot Crude OS (Live Session)" {
    linux /boot/vmlinuz modules=loop,squashfs subdirs=live init=/sbin/init boot=live quiet
    initrd /boot/initramfs
}

menuentry "Boot Crude OS (Text mode)" {
    linux /boot/vmlinuz modules=loop,squashfs subdirs=live init=/sbin/init boot=live text quiet
    initrd /boot/initramfs
}

menuentry "Memory Test (memtest86+)" {
    linux /boot/memtest
}
