UI menu.c32
MENU TITLE Crude OS - Boot Menu
MENU COLOR SCREEN 37;40
MENU COLOR BORDER 30;40
MENU COLOR TITLE 1;36;40
MENU COLOR HOTLINE 36;40
MENU COLOR UNSELECTED 37;40
MENU COLOR SELECTED 1;33;40

DEFAULT crudeos
LABEL crudeos
    MENU LABEL ^Boot Crude OS (Live Session)
    KERNEL /boot/vmlinuz
    INITRD /boot/initramfs
    APPEND modules=loop,squashfs subdirs=live init=/sbin/init boot=live quiet
LABEL crudeos_text
    MENU LABEL Boot Crude OS (^Text mode)
    KERNEL /boot/vmlinuz
    INITRD /boot/initramfs
    APPEND modules=loop,squashfs subdirs=live init=/sbin/init boot=live text quiet
LABEL memtest
    MENU LABEL ^Memory Test (memtest86+)
    KERNEL /boot/memtest
